<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Spring Security Hola</title>
    <div th:replace="staticTemplates/list_import :: listCss"></div>
</head>
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div th:replace="staticTemplates/header :: leftMenu"/>
        <div th:replace="staticTemplates/header :: TopMenu"/>
        <link rel="stylesheet" th:href="@{/css/gastosInmuebleM.css}"
              href="../../css/gastosInmuebleM.css" />
        <div class="right_col" role="main" style="min-height: 1655px;">
            <!--contenido de la pagina-->
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>Recibos</h3>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <!--Inicio Invoice-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="x_panel">
                                <form id="formAddGastosI" action="#"
                                      th:action="@{/gastosInmuebleM/guardarGastosM}"
                                      th:object="${formDetallesGastosInmueble}"
                                      method="post">
                                <div class="x_title">
                                    <h2>Generacion de Recibo
                                        <small>Realice su recibo correspondiente</small>
                                    </h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">

                                    <section class="content invoice">
                                        <!-- title row -->
                                        <div class="row">
                                            <div class="col-xs-12 invoice-header" th:id="gastosInmuebleHeader">
                                                <h1>
                                                    <i class="fa fa-globe"><input type="text"
                                                                                  th:value="${gastosInmueble.descrGastosInmueble}"
                                                                                  th:name="descrGastosInmueble"
                                                                                  th:id="descrGastosInmueble"
                                                                                  placeholder="Ingrese Descripcion"
                                                                                  required/></i>
                                                    <small class="pull-right">
                                                        <input th:value="${#dates.format(gastosInmueble.fechaGastosInmueble,'yyyy-MM-dd')}"
                                                               th:name="fechaGastosInmueble" type="date"
                                                               placeholder="DD/MM/AAAA" required
                                                               th:id="fechaGastosInmueble"/>
                                                    </small>
                                                </h1>
                                            </div>
                                            <!-- /.col -->
                                        </div>
                                        <!-- info row -->
                                        <div class="row invoice-info">
                                            <div class="col-sm-4 invoice-col">
                                                From
                                                <address>
                                                    <strong>Nombre Empresa</strong>
                                                    <br>Direccion Calle
                                                    <br>Ciudad / Capital
                                                    <br>Telefono
                                                    <br>Correo
                                                </address>
                                            </div>
                                            <!-- /.col -->
                                            <div class="col-sm-4 invoice-col">
                                                <address>
                                                    <strong></strong>
                                                    <br>
                                                    <br>
                                                    <br>
                                                    <br>
                                                </address>
                                            </div>
                                            <!-- /.col -->
                                            <div class="col-sm-4 invoice-col">
                                                <b>Recibo #<span th:text="${gastosInmueble.codigGastosInmueble}"
                                                                 th:id="codigGastosInmueble"
                                                                 th:name="codigGastosInmueble"></span></b>
                                                <input type="hidden"
                                                       th:field="${gastosInmueble.codigGastosInmueble}"/>
                                                <br>
                                                <br>
                                                <b></b>
                                                <br>
                                                <b></b>
                                                <br>
                                                <b></b>
                                            </div>
                                            <!-- /.col -->
                                        </div>
                                        <!-- /.row -->
                                        <!--Agregar Elementos al recibo-->
                                        <div class="x_content">
                                            <!-- start form for validation -->
                                                <div class="col-md-1 col-sm-12 col-xs-12 form-group">
                                                    <label for="codigGM">Codigo:</label>
                                                    <!--/*@thymesVar id="codigGastos" type="com.vv.model.DetallesGastosInmueble"*/-->
                                                    <input type="number" id="codigGM" class="form-control"
                                                           name="codigGM"
                                                           placeholder="ID" required
                                                           th:field="*{codigGastos.codigGastos}"/>
                                                    <p th:if="${#fields.hasErrors('codigGastos')}"
                                                       class="label label-danger" th:errors="*{codigGastos}">Incorrect
                                                        CG</p>
                                                </div>
                                                <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                                                    <label th:for="descGM">Descripcion/Gasto * :</label>
                                                    <input type="text" th:id="descGM" class="form-control" name="descGM"
                                                           th:field="*{codigGastos.descrGastos}"
                                                           placeholder="Nombre del gasto" required/>
                                                </div>
                                                <div class="col-md-4 col-sm-12 col-xs-12 form-group">
                                                    <label th:for="detallesGastoInmueble">Comentario</label>
                                                    <textarea th:id="detallesGastoInmueble"
                                                              th:name="detallesGastoInmueble"
                                                              class="form-control"
                                                              style="max-width: 100%;"
                                                              rows="1"
                                                              th:field="*{detallesGastoInmueble}"></textarea>
                                                </div>
                                                <div class="col-md-2 col-sm-12 col-xs-12 form-group">
                                                    <label th:for="montoGasto">Monto * :</label>
                                                    <input th:id="montoGasto" class="form-control" type="number" min="0"
                                                           step="0.01"
                                                           placeholder="Monto" required th:name="montoGasto"
                                                           th:field="*{montoGasto}"/>
                                                </div>
                                                <div class="col-md-2 col-sm-12 col-xs-12 form-group">
                                                    <label>Agregar gasto:</label>
                                                    <button th:id="guardarGastosM" th:type="submit"
                                                            class="btn btn-success"
                                                            th:value="guardarGastosM">Submit
                                                    </button>
                                                </div>
                                                <!-- end form for validations -->
                                            </form>
                                        </div>


                                        <!--Fin Agregar Elementos al recibo-->
                                        <!-- Table row -->
                                        <div class="row">
                                            <!--aqui va la data de la tabla-->
                                            <div class="col-xs-12 table">
                                                <table class="table table-striped" id="tablaListaGastosR">
                                                    <thead>
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>Nombre Gasto</th>
                                                        <th style="width: 59%">Comentario</th>
                                                        <th>Subtotal</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <!--/*@thymesVar id="gastosForm" type="com.vv.model.DetallesGastosInmueble"*/-->
                                                    <tr th:each="gastosDetallados : ${listadoGastos}">
                                                        <td th:text="${gastosDetallados.codigGastos.codigGastos}"></td>
                                                        <td th:text="${gastosDetallados.codigGastos.descrGastos}"></td>
                                                        <td th:text="${gastosDetallados.detallesGastoInmueble}"></td>
                                                        <td th:text="${#numbers.formatDecimal(gastosDetallados.montoGasto, 0, 'POINT', 2, 'COMMA')}">
                                                            10,00
                                                        <td>

                                                        <td>
                                                            <a th:href="@{/gastosInmuebleM/updateGastosDetallados/} + ${gastosDetallados.codigDetallesGastInmue}"
                                                               class="btn btn-round btn-info btn-xs"><i
                                                                    class="fa fa-wrench"></i> Editar </a>
                                                            <a th:href="@{/gastosInmuebleM/borrarGastosDetallados/} + ${gastosDetallados.codigDetallesGastInmue}"
                                                               class="btn btn-round btn-danger btn-xs"><i
                                                                    class="fa fa-remove"></i> Borrar </a></td>

                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- /.col -->
                                        </div>
                                        <!-- /.row -->

                                        <div class="row">
                                            <!-- accepted payments column -->
                                            <div class="col-xs-6">
                                                <p class="lead">Alguna Informacion</p>
                                                <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
                                                    algun texto
                                                </p>
                                            </div>
                                            <!-- /.col -->
                                            <div class="col-xs-6">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <tbody>
                                                        <tr>
                                                            <th style="width:50%">Subtotal:</th>
                                                            <td>$ <span
                                                                    th:text="${#numbers.formatDecimal(gastosInmueble.montoSubTotalGastosInmueble, 0, 'POINT', 2, 'COMMA')}">10,00</span>
                                                                <input type="hidden"
                                                                       th:field="*{gastosInmueble.montoSubTotalGastosInmueble}"
                                                                       th:value="${gastosInmueble.montoSubTotalGastosInmueble}"/>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>otro renglon</th>
                                                            <td>0,00</td>
                                                        </tr>
                                                        <tr>
                                                            <th>otro renglon:</th>
                                                            <td>0,00</td>
                                                        </tr>
                                                        <tr>
                                                            <th>otro renglon:</th>
                                                            <td>0,00</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <!-- /.col -->
                                        </div>
                                        <!-- /.row -->

                                        <!-- this row will not appear when printing -->
                                        <div class="row no-print">
                                            <div class="col-xs-12">
                                                <button class="btn btn-default" onclick="window.print();"><i
                                                        class="fa fa-print"></i> Print
                                                </button>
                                                <button class="btn btn-success pull-right" th:type="submit"
                                                        th:name="finalizarG" th:id="finalizarG" th:value="finalizarG"
                                                        formnovalidate><i
                                                        class="fa fa-save"></i> Finalizar Recibo
                                                </button>
                                                <button class="btn btn-primary pull-right" style="margin-right: 5px;"><i
                                                        class="fa fa-download"></i> Generate PDF
                                                </button>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                                </form>
                            </div>
                        </div>

                        <!--Fin Invoice-->
                    </div>
                </div>
                <!--/contenido de la pagina-->
            </div>
        </div>
    </div>
</div>
<div th:replace="staticTemplates/list_import :: ListJs"/>
<script src="../../js/jquery.autocomplete.js"></script>
<script>
    function loadItem() {
        $("#item").load('refreshItem');
    }
    $('#descrGastosInmueble').blur(function(){
        if($('#descrGastosInmueble').val().length > 3 && $('#fechaGastosInmueble').val().length > 3){
        updateEventCount();
        }
    });
    $("#fechaGastosInmueble").blur(function(){
        if($('#descrGastosInmueble').val().length > 3 && $('#fechaGastosInmueble').val().length > 3 ){
            updateEventCount();
        }
    });

    function updateEventCount() {
        var descrGI = $("#descrGastosInmueble").val();
        var fecha = $("#fechaGastosInmueble").val();
        var codigGI = $("#codigGastosInmueble").text();
        $.ajax({
            url: '/api/vvsyscond/refreshNombreFecha/' + descrGI + '/' + fecha + '/' + codigGI,
            dataType: 'json',
            contentType: 'application/json',
            success: function (data) {

            },
            error: function (xhr, status, error) {
                alert("Error");
            }
        });
    }
    //ejemplo Ajax
    /*    function updateEventCount() {
            var codigo = $("#codigGM").val();
            var codigGastosInmueble = $("#codigGastosInmueble").text();
            var comentario = $("#comentarioGM").val();
            var monto = $("#montoGM").val();
            $.get("actualizarTabla", {
                codigo: codigo,
                comentario: comentario,
                monto: monto,
                codigGastosInmueble: codigGastosInmueble
            }, function (fragment) { // get from controller
                $("#tablaListaGastosR").replaceWith(fragment); // update snippet of page
            });
        }*/

    $(document).ready(function () {
        $("#agregar").click(function () {
            $("#tablaGastosDetallados").load("guardarGastosM");
        });

        var idG;
        $('#descGM').autocomplete({
            source: function (request, response) {
                var descGM = $('#descGM').val();
                $.ajax({
                    url: '/api/vvsyscond/autoComplete/' + descGM,
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {label: item.descrGastos, value: item.descrGastos, id: item.codigGastos};
                        }));
                    },
                    error: function (xhr, status, error) {
                        alert("Error");
                    }
                });
            }, select: function (event, ui) {
                $('#codigGM').val(ui.item.id);
                debugger;
            }
        });
    });

    /*    $( "#descrGastosInmueble" ).blur(function() {

        });*/
</script>


</body>
</html>
