<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Spring Security Hola</title>
    <div th:replace="staticTemplates/list_import :: listCss"/>

</head>
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div th:replace="staticTemplates/header :: leftMenu"/>
        <div th:replace="staticTemplates/header :: TopMenu"/>
        <div class="right_col" role="main" style="min-height: 1655px;">
            <!--contenido de la pagina-->
             <table>
                 <tr>
                     <td>
                         <input  value="ingrese algo" />
                     </td>
                 </tr>
             </table>

            <!--/contenido de la pagina-->
        </div>
    </div>
</div>

<div th:replace="staticTemplates/list_import :: ListJs"/>
</body>
</html>
