<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Spring Security Hola</title>
    <div th:replace="staticTemplates/list_import :: listCss"/>

</head>
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div th:replace="staticTemplates/header :: leftMenu"/>
        <div th:replace="staticTemplates/header :: TopMenu"/>
        <div class="right_col" role="main" style="min-height: 1655px;">

            <h2>Listado de Pagos</h2>
            <table class="table table-striped">
                <thead>
                <th scope="row">#Cod</th>
                <th scope="row">Nombre</th>
                <th scope="row">direccion</th>
                <th scope="row">Ciudad</th>
                <th scope="row">Pais</th>
                <th scope="row">Status</th>

                </thead>
              <tbody>

              <!-- listadoGastos es la variable que se lleno en el controlador GastoControlle -->
                <tr th:each="gastos : ${listadoGastos}" >
                    <td th:text="${gastos.idGastos}"></td>
                    <td th:text="${gastos.nombre}"></td>
                    <td th:text="${gastos.descripcion}"></td>
                    <td> </td>
                </tr>
              </tbody>

            </table>
                <!--contenido de la pagina--
             <table>
                 <tr>
                     <td>
                         <input  value="ingrese algo" />
                     </td>
                 </tr>
             </table>

            <!--/contenido de la pagina-->
        </div>
    </div>
</div>

<div th:replace="staticTemplates/list_import :: ListJs"/>
</body>
</html>
