<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>FormatoFactura</title>
    <link rel="stylesheet" type="text/css"
          href="../resources/static/css/facturas.css" />
</head>

<body>
<div class="cuerpo">
    <div class="cabezera">
        <table width="100%" >
            <tbody>
            <tr>
                <td width="34%"><table class="datosCondominio" width="150" >
                    <tbody>
                    <tr>
                        <td>IMAGEN LOGOOO</td>
                        <td><strong>Nombre Edificio</strong><br>
                            Direccion Mas direccion<br>
                            <br>
                            <b>Telefono:</b> 0212 936 00 06<br>
                            <b>Correo:</b> josue24664@hotmail.com<br></td>
                    </tr>
                    </tbody>
                </table></td>
                <td width="41%"><h2 id="titulo">RECIBO DE CONDOMINIO</h2></td>
                <td width="25%"><table width="200" >
                    <tbody>
                    <tr>
                        <th scope="row">Número</th>
                        <td>[[${data.getNumeroRecibo()}]]</td>
                    </tr>
                    <tr>
                        <th scope="row">Página</th>
                        <td>1</td>
                    </tr>
                    </tbody>
                </table></td>
            </tr>
            </tbody>
        </table>
    </div>
    <br/>
    <br/>
    <div class="contenido">
        <div class="inmueble">
            <table cellspacing="0" width="100%" height="63" border="1">
                <tbody>
                <tr>
                    <th scope="col">Inmueble</th>
                    <th scope="col">Propietario</th>
                    <th scope="col">Alicuota</th>
                    <th scope="col">Fecha</th>
                </tr>
                <tr>
                    <td>[[${data.getInmueble()}]]</td>
                    <td>[[${data.getPropietario()}]]</td>
                    <td>[[${data.getAlicuota()}]]</td>
                    <td>[[${data.getFecha()}]]</td>
                </tr>
                </tbody>
            </table></div>
        <br/>
        <br/>
        <div class="detalles">
            <table class="tablaDetalles" cellspacing="0" width="100%" border="1">
                <tbody>
                <tr>
                    <th scope="col">Cod</th>
                    <th scope="col">Gasto</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Monto</th>
                    <th scope="col">Alicuota</th>
                </tr>
                <tr>
                    <td>[[${data.getCodigoGasto()}]]</td>
                    <td>[[${data.getNombreGasto()}]]</td>
                    <td>[[${data.getDescripcion()}]]</td>
                    <td>[[${data.getMontoGasto()}]]</td>
                    <td>[[${data.getAlicuotaMonto()}]]</td>
                </tr>
                </tbody>
            </table>
        </div>
        <br/>
        <br/>
        <div class="totales">
            <table cellspacing="0" width="100%" >
                <tbody>
                <tr>
                    <td WIDTH="50%">
                        <table class="detInmueble" width="80%" border="1">
                            <tbody>
                            <tr>
                                <th width="210" scope="row">SALDO ANTERIOR</th>
                                <td width="232">&nbsp;</td>
                            </tr>
                            <tr>
                                <th scope="row">SALDO ACTUAL</th>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <th scope="row">INT.ACUMULADO</th>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <th scope="row">INT.DEL MES</th>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <th scope="row">REC.PENDIENTE</th>
                                <td>&nbsp;</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                    <td WIDTH="50%">
                        <table class="detTotales" width="100%" border="1">
                            <tbody>
                            <tr>
                                <th width="214" scope="row">TOTAL GASTOS</th>
                                <td width="279">[[${data.getTotalMontoRecibo()}]]</td>
                            </tr>
                            <tr>
                                <th width="214" scope="row">SUB.T GASTOS COMUNES</th>
                                <td width="279">[[${data.getSubTotalGastos()}]]</td>
                            </tr>
                            <tr>
                                <th scope="row">SUB.T G INDIVIDUALES</th>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <th scope="row">SUB.T FONDOS</th>
                                <td>[[${data.getTotalFondos()}]]</td>
                            </tr>
                            <tr>
                                <th scope="row">TOTAL A CANCELAR</th>
                                <td>[[${data.getTotalCancelar()}]]</td>
                            </tr>
                            </tbody>
                        </table></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
</body>
</html>
