<div th:fragment="letterhead">
    <table>
        <tr class="address-block">
            <td></td>
            <td class="bottom right">
                <strong>Nombre Administradora</strong><br>
                Direccion
                Mas direccion<br>
                <br>
                <b>Telefono:</b> 0212 936 00 06<br>
                <b>Correo:</b> josue24664@hotmail.com<br>
            </td>
        </tr>
        <tr class="address-block">
            <td class="bottom">
                <strong>[[${data.getFirstname()}]] [[${data.getLastname()}]]</strong><br>
                [[${data.getStreet()}]]<br>
                [[${data.getZipCode()}]] [[${data.getCity()}]]<br>
            </td>
            <td class="bottom right">
                Ciudad, 28. January 2018
            </td>
        </tr>
    </table>
    <hr>
</div>